{{#extend "stylesheets"}}
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/javascripts/web-pull-to-refresh-master/lib/genericons/genericons.css">
<link rel='stylesheet' href="/swiper/dist/css/swiper.min.css" />
<link rel='stylesheet' href="/javascripts/web-pull-to-refresh-master/base.css" />
<link rel='stylesheet' href="/stylesheets/index.css" />
{{/extend}}

<div id="ptr">
  <span class="genericon genericon-next"></span>
  <div class="loading">
    <span id="l1"></span>
    <span id="l2"></span>
    <span id="l3"></span>
  </div>
</div>
<div id="content">

  {{#if headers}}
  <div class="swiper-container">
      <div class="swiper-wrapper">
        {{#each headers}}
          <div class="swiper-slide">
            <img src="{{this}}" alt="">
          </div>
        {{/each}}
      </div>
      <div class="swiper-pagination"></div>
      <div class="search">
        <div><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;搜索</div>
      </div>
  </div>
  {{/if}}
  <div>
    <img src="/images/画种.png" alt="画种" style="width:8%;margin-left:15px;margin-top:10px;" /><div style="float:right;margin-right:15px;margin-top:10px;color:#919191;font-size:12px;">更多<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div>
  </div>
  <div class="menu">
    <div class="item">
      <img src="/images/油画.png" alt="油画" />
      <div class="name">油画</div>
    </div>
    <div class="item">
      <img src="/images/国画.png" alt="国画" />
      <div class="name">国画</div>
    </div>
    <div class="item">
      <img src="/images/水彩.png" alt="水彩" />
      <div class="name">水彩</div>
    </div>
    <div class="item">
      <img src="/images/彩铅.png" alt="彩铅" />
      <div class="name">彩铅</div>
    </div>
  </div>
  <div class="split">
  </div>
  <div>
    <img src="/images/今日最新.png" alt="今日最新" style="width:16%;margin-left:15px;margin-top:10px;" /><div style="float:right;margin-right:15px;margin-top:10px;color:#919191;font-size:12px;">更多<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div>
    <ul class="list-group" style="margin-top:10px;border-top:1px solid #ddd;background:#f2f2f2;">
      {{#each today}}
      <li class="list-group-item" style="border-top:0px;border-left:0px;border-right:0px;border-bottom:0px;margin-bottom:0px;padding-bottom:0px;"onClick="gotoItem('{{this._id}}')" >
        <div class="row">
            <div style="padding-left:5px;padding-right:0px;width:80px;float:left;">
              <img src="{{this.avatar}}" style="width:50px;border-radius:50px;"/>
            </div>
            <div style="padding-left:0px;height:50px;display:flex;flex-direction:column;justify-content:center;">
              <div class="row">
                <span style="color:#2ad0cc">{{this.nick}}</span>
              </div>
              <div class="row" style="margin-top:5px;">
                <span style="color:#d1d1d1">{{this.create_at}}</span>
              </div>
            </div>
        </div>
        <div class="row" style="margin-left:0px;margin-right:0px;margin-top:10px;">
          <!-- <div class="row" style="margin-bottom:10px;font-size:14px;">
              <div class="col-xs-4" style="padding-right: 0px;padding-left:4px;color:#535353;">
                  作者：{{this.author}}
              </div>
          </div> -->
        <div class="row">
          {{#each this.images}}
          <div style="background:url(https://painting.shtx.com.cn/images/upload/{{this}});height:100px;width:32%;float:left;background-size:cover;padding-left:0;padding-right:0;margin-top:3px;margin-left:3px;">
            <!-- <img src="https://painting.shtx.com.cn/images/upload/{{this.images.[0]}}" style="width:100%;height:100%;"/> -->
          </div>
          {{/each}}
        </div>
          <div class="row" style="margin-bottom:10px;font-size:14px;margin-top:10px;">
            <div class="col-xs-12" style="padding-right: 0px;padding-left: 3px;">
                《{{this.name}}》
            </div>
          </div>
        </div>
      </li>
      <div class="row" style="border-top:1px solid #f2f2f2;background:#fff;margin-left:0px;margin-right:0px;">
          <div class="col-xs-6" style="color:gray;margin-top:10px;margin-bottom:10px;border-right:1px solid #f2f2f2;display:flex;flex-direction:row;justify-content:center;align-items:center;">
              <span class="glyphicon glyphicon-heart-empty" style="font-size:15px;"></span>
              <span style="margin-left:10px;">66</span>
          </div>
          <div class="col-xs-6" style="color:gray;margin-top:10px;margin-bottom:10px;display:flex;flex-direction:row;justify-content:center;align-items:center;">
              <span style="font-size:15px;" class="glyphicon glyphicon-retweet"></span>
              <span style="margin-left:10px;">88</span>
          </div>
      </div>
      <div class="splitItem">
      </div>
      {{/each}}
    </ul>
  </div>
</div>


{{#extend "scripts"}}
<script type="text/javascript" src="/swiper/dist/js/swiper.min.js"></script>
<script src="/javascripts/web-pull-to-refresh-master/lib/hammer.2.0.4.js"></script>
<script src="/javascripts/web-pull-to-refresh-master/lib/wptr.1.1.js"></script>
<script>
var loadToday = function(){
  return new Promise(function(resolve,reject){
    if (true) {
       resolve();
    }else {
      reject();
    }
  });
};

function gotoItem(id){
  window.location.href = '/item/'+id;
}

$(function(){
  var swiper = new Swiper('.swiper-container', {
     autoplay : 2000,
     autoplayDisableOnInteraction:false,
     loop:true,
     pagination: '.swiper-pagination',
     paginationClickable: true
  });

  WebPullToRefresh.init( {
      loadingFunction: loadToday
  } );
});


 </script>
<!-- <script>
  wx.ready(function(){

  });
</script> -->
{{/extend}}
