{{#extend "stylesheets"}}
  <link rel='stylesheet' href="/swiper/dist/css/swiper.min.css" />
  <link rel='stylesheet' href="/stylesheets/item.css" />
{{/extend}}

<div class="swiper-container" style="width:100%;height:50vw;">
  <div class="swiper-wrapper">
    {{#each item.images}}
      <div class="swiper-slide">
        <img src="/images/upload/{{this}}" alt="" style="width:100%;"/>
      </div>
    {{/each}}
  </div>
  <div class="swiper-pagination"></div>
</div>

<div style="width: 100%;height: 12px;background: #f2f2f2;"></div>

<div class="mySegment">
  <div class="segmentItem active">
    详情介绍
  </div>
  <div class="segmentSplit">

  </div>
  <div class="segmentItem">
    竞拍价格
  </div>
</div>
<div class="segmentContainer">
  <div class="segmentView">
    <div class="line">
      <div class="name">
        作品名称
      </div>
      <div class="info">
        {{item.name}}
      </div>
    </div>
    <div class="line">
      <div class="name">
        作者
      </div>
      <div class="info">
        {{item.author}}
      </div>
    </div>
    <div class="line">
      <div class="name">
        价格
      </div>
      <div class="info">
        {{item.price}}
      </div>
    </div>
    <div class="line">
      <div class="name">
        尺寸
      </div>
      <div class="info">
        长 {{item.dimension.width}}cm, 宽 {{item.dimension.height}}cm
      </div>
    </div>
  </div>
  <div class="segmentView" style="display:none;">
    2222222
  </div>
</div>


{{#extend "scripts"}}
  <script type="text/javascript" src="/swiper/dist/js/swiper.min.js"></script>
  <script type="text/javascript">
  var images = [];
      {{#each item.images}}
      images.push("https://painting.shtx.com.cn/images/upload/{{this}}");
      {{/each}}
    $(function(){
      var swiper = new Swiper('.swiper-container', {
         autoplay : 2000,
         autoplayDisableOnInteraction:false,
         loop:true,
         pagination: '.swiper-pagination',
         paginationClickable: true
      });

      $(".swiper-container img").on("click",function(){
        if(wx.previewImage){
          var curr = "https://painting.shtx.com.cn"+$(this).attr("src");
          wx.previewImage({
              current: curr, // 当前显示图片的http链接
              urls: images // 需要预览的图片http链接列表
          });
        }
      });

      $(".segmentItem").on("click",function(){
        var all = $(".segmentItem");
        var allView = $(".segmentView");
        var left = allView.eq(0);
        var right = allView.eq(1);

        all.removeClass("active");
        $(this).addClass("active");
        if(all.eq(0).hasClass("active")){
          right.hide();
          left.show();
        }
        else{
          left.hide();
          right.show();
        }
      })
    })

  </script>
{{/extend}}
