{{#extend "stylesheets"}}
  <link rel='stylesheet' href="/swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="/javascripts/web-pull-to-refresh-master/lib/genericons/genericons.css">
  <link rel='stylesheet' href="/javascripts/web-pull-to-refresh-master/base.css" />
  <link rel='stylesheet' href="/flipclock/compiled/flipclock.css" />
  <link rel='stylesheet' href="/javascripts/Ladda/dist/ladda-themeless.min.css" />
  <link rel='stylesheet' href="/stylesheets/item.css" />
  <link rel='stylesheet' href="/stylesheets/style_less.css" />
  <style>
    .flip-clock-label{
      display: none;
    }

    .flip-clock-wrapper{
      /*width:70%;*/
      margin:0;
    }
    .flip-clock-divider{
      height: 25px;
    }

    .notie-container{
      z-index: 20;
    }


  </style>
{{/extend}}


<div style="position:relative;">
  <div class="swiper-container" style="width:100%;height:50vw;">
    <div class="swiper-wrapper">
      {{#each item.images}}
        <div class="swiper-slide">
          <img src="/images/upload/{{this}}" alt="" style="width:100%;" />
        </div>
      {{/each}}
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="mySegment">
    <div class="segmentItem active">
      详情介绍
    </div>
    <div class="segmentSplit">

    </div>
    <div class="segmentItem">
      竞拍价格
    </div>
  </div>
  <div class="segmentContainer">
    <div class="segmentView" style="font-size:18px;">
      <div class="line" style="justify-content:flex-start;">
        <div id="dateDesc" class="name">
        </div>
        <div>
          <div class="clock"></div>
        </div>
      </div>
      <div class="line">
        <div class="name">
          作品名称
        </div>
        <div class="info">
          {{item.name}}
        </div>
      </div>
      <div class="line">
        <div class="name">
          作者
        </div>
        <div class="info">
          {{item.author}}
        </div>
      </div>
      <div class="line">
        <div class="name">
          价格
        </div>
        <div class="info">
          {{item.price}}
        </div>
      </div>
      <div class="line">
        <div class="name">
          尺寸
        </div>
        <div class="info">
          长 {{item.dimension.width}}cm, 宽 {{item.dimension.height}}cm
        </div>
      </div>
    </div>

    <div id="ptr">
      <span class="genericon genericon-next"></span>
      <div class="loading">
        <span id="l1"></span>
        <span id="l2"></span>
        <span id="l3"></span>
      </div>
    </div>
    <div class="segmentView scroll" id="content" style="display:none;z-index:20;background:white;position:relative;">

    </div>
  </div>
  <div class="footer">
    <div class="bid {{#if isMe}}unClick{{/if}}" id="bid">
      出价
    </div>
    <div class="good">
      <div class="goodContainer" {{#if like.canLike}} onClick="goodClick('{{item._id}}')" {{/if}}>
        {{#if like.canLike}}
          <img id="good" src="/images/good.png" alt="赞" />
        {{/if}}
        {{#unless like.canLike}}
          <img id="good" src="/images/good_grey.png" alt="赞" />
        {{/unless}}
        <div class="goodCount">
          {{#if like.likes}} {{like.likes}} {{/if}}
          {{#unless like.likes}} 0 {{/unless}}
        </div>
      </div>
    </div>
  </div>
  <div class="mask">

  </div>
  <div class="bidContainer">
    <div class="bid-header">
      出价
    </div>
    <div class="bid-content">
      <div class="currentPrice">
        当前出价为 <span id="currentPrice"></span>
      </div>
      <div class="myCurrentPrice">
        您的出价为 <span id="myCurrentPrice"></span>
      </div>
      <div class="bidPrice" style="font-weight:800;">
        <div class="add">
          <button class="btn btn-default" data-num="10">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>10
          </button>
          <button class="btn btn-default" data-num="20">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>20
          </button>
          <button class="btn btn-default" data-num="50">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>50
          </button>
          <button class="btn btn-default" data-num="100">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>100
          </button>
        </div>
        <div class="minus">
          <button class="btn btn-default" data-num="10">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>10
          </button>
          <button class="btn btn-default" data-num="20">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>20
          </button>
          <button class="btn btn-default" data-num="50">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>50
          </button>
          <button class="btn btn-default" data-num="100">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>100
          </button>
        </div>

      </div>

      <div>
        <button class="btn btn-primary btn-block ladda-button" data-style="expand-left" id="btnSubmit" style="margin-left:5%;margin-right:5%;width:90%;margin-top:20px;">
          <span class="ladda-label">确定出价</span>
        </button>
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
  <script type="text/javascript" src="/swiper/dist/js/swiper.min.js"></script>
  <script src="/javascripts/web-pull-to-refresh-master/lib/hammer.2.0.4.js"></script>
  <script src="/javascripts/web-pull-to-refresh-master/lib/wptr.1.1.js"></script>
  <script src="/flipclock/compiled/flipclock.min.js"></script>
  <script src="/moment/moment.js"></script>
  <script src="/javascripts/Ladda/dist/spin.min.js"></script>
  <script src="/javascripts/Ladda/dist/ladda.min.js"></script>

  <script type="text/javascript">
    var images = [];
    var itemId = '{{item._id}}';
    {{#each item.images }}
    images.push("https://painting.shtx.com.cn/images/upload/{{this}}");
    {{/each}}
    var lastPrice = 0;
    var myCurrentPrice = 0;
    var from = '{{item.valid.from}}';
    var to = '{{item.valid.to}}';
    var flag = 0;
    var second = 0;
        function goodClick(id) {
          var count = {{like.likes}} || 0;
          $("#good").attr("src", "/images/good_grey.png").parent().removeAttr("onClick");
          var c = parseInt(count + 1);
          $(".goodCount").text(c);
          $.get('/item/like/' + id, function(data) {

          });
        }

        function loadBidsInfo() {
          return new Promise(function(resolve, reject) {
            if (true) {
              getBidsInfo();
              resolve();
            } else {
              reject();
            }
          });
        };

        function createLine(data) {
          $("#content").empty();
          for (var i = 0; i < data.length; i++) {
            var p = data[i];

            var line = $("<div class=\"line\"></div>");
            var avatar = $("<div class=\"avatar\"></div>");
            var img = $("<img src=\"" + p.avatar + "\" alt=\"头像\" />");
            avatar.append(img);
            line.append(avatar);
            var nick = $("<div class=\"nick\">" + p.nick + "</div>");
            line.append(nick);
            var price = $("<div class=\"price\">" + p.price + "</div>");
            line.append(price);
            var time = $("<div class=\"time\">" + p.create_at.substr(5,16) + "</div>");
            line.append(time);

            $("#content").append(line);
          }
        }

        function getBidsInfo()
        {
          $.get("/item/getBids/" + itemId, function(data) {
            if(data.status == 0){
              createLine(data.data);
            }
          })
        }

        $(function() {
          let option = {};
          if(images.length > 1){
            option = {
              autoplay: 2000,
              autoplayDisableOnInteraction: false,
              loop: images.length > 1 ? true : false,
              pagination: '.swiper-pagination',
              paginationClickable: true
            }
          }
          var swiper = new Swiper('.swiper-container', option);

          WebPullToRefresh.init({
            loadingFunction: loadBidsInfo
          });

          if(moment(from).isBefore()){
            //已经过了起拍时间
            if(moment(to).isAfter()){
              //还没过结束时间
              flag = 1;
              second = moment(to).diff(moment(),'seconds');
              $("#dateDesc").text("距结束");
            }
            else{
              //已过结束时间
              flag = 2;
              $("#dateDesc").text("竞拍已结束");
              $(".clock").parent().remove();
            }
          }
          else{
            //还没到起拍时间
            flag = 0;
            second = moment().diff(from,'seconds');
            $("#dateDesc").text("距开始");
          }

          if(flag < 2)
          {
            var clock = $('.clock').FlipClock({
                  clockFace: 'DailyCounter',
                  autoStart: false,
                  // language:'Chinese',
                  callbacks: {
                    stop: function() {
                      flag++;
                      if(flag == 1){
                        second = moment(to).diff(moment(),'seconds');
                        $("#dateDesc").text("距结束");
                        clock.setTime(second);
                      }
                      else if(flag == 2){
                        $("#dateDesc").text("竞拍已结束");
                        clock.stop();
                        $(".clock").parent().remove();
                      }
                    }
                  }
              });

              clock.setTime(second);
              clock.setCountdown(true);
              clock.start();
          }

          getBidsInfo();

          $(".swiper-container img").on("click", function() {
            if (wx.previewImage) {
              var curr = "https://painting.shtx.com.cn" + $(this).attr("src");
              wx.previewImage({
                current: curr, // 当前显示图片的http链接
                urls: images // 需要预览的图片http链接列表
              });
            }
          });

          $("#minus").on("click",function(){
            var p = parseInt($("#myPrice").text()) - 10;
            if(p>0){
              $("#myPrice").text(p);
              myCurrentPrice = p + lastPrice;
              $("#myCurrentPrice").text("￥"+myCurrentPrice)
            }
            if(p <= 10){
              $(this).css("color","grey");
            }
            else{
              $(this).css("color","black");
            }
          });
          $("#add").on("click",function(){
            $("#minus").css("color","black");
            var p = parseInt($("#myPrice").text()) + 10;

            $("#myPrice").text(p);
            myCurrentPrice = p + lastPrice;
            $("#myCurrentPrice").text("￥"+myCurrentPrice)
          });

          $(".segmentItem").on("click", function() {
            var all = $(".segmentItem");
            var allView = $(".segmentView");
            var left = allView.eq(0);
            var right = allView.eq(1);

            all.removeClass("active");
            $(this).addClass("active");
            if (all.eq(0).hasClass("active")) {
              right.hide();
              left.show();
            } else {
              left.hide();
              right.show();
            }
          });

          $("#bid").on("click", function() {
            {{#unless isMe}}

            $(".mask,.bidContainer").show();
            $.get("/item/getBids/" + itemId, function(data) {
              if(data.message == 'OK'){
                var price = {{item.price}};
                  if(data.data.length > 0){
                    price = data.data[0].price;
                  }
                  $("#currentPrice").text("￥"+price);
                  myCurrentPrice = price;
                  $("#myCurrentPrice").text("￥"+myCurrentPrice);
                  lastPrice = price;
              }
            })
            {{/unless}}

          });

          $(".add button").on("click",function(){
            var num = parseInt($(this).data("num"));
            myCurrentPrice += num;
            $("#myCurrentPrice").text("￥"+myCurrentPrice);
          });

          $(".minus button").on("click",function(){
            var num = parseInt($(this).data("num"));
            if(myCurrentPrice - num <lastPrice){
              return false;
            }
            myCurrentPrice -= num;
            $("#myCurrentPrice").text("￥"+myCurrentPrice);
          });

          $(".bidContainer").on("click", function() {
            return false;
          });
          $(".mask").on("click", function(e) {
            $(".mask,.bidContainer").hide();
            e.stopPropagation();
          });

          $("#btnSubmit").on("click", function() {
            // $(this).attr("disabled","disabled");
            var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
            l.start();
            $.get("/item/bid/" + itemId + "/" + myCurrentPrice, function(result) {
              if(result.status == 0){
                //出价成功
                $(".mask,.bidContainer").hide();
                getBidsInfo();
              }
              else{
                notie.alert({
                  type: 3,
                  text: result.message
                });
              }
            }).done(function(){
              // $("#btnSubmit").removeAttr("disabled");
              l.stop();
            })
          });
        })

        var overscroll = function(el) {
  el.addEventListener('touchstart', function() {
    var top = el.scrollTop
      , totalScroll = el.scrollHeight
      , currentScroll = top + el.offsetHeight;
    //If we're at the top or the bottom of the containers
    //scroll, push up or down one pixel.
    //
    //this prevents the scroll from "passing through" to
    //the body.
    if(top === 0) {
      el.scrollTop = 1;
    } else if(currentScroll === totalScroll) {
      el.scrollTop = top - 1;
    }
  });
  el.addEventListener('touchmove', function(evt) {
    //if the content is actually scrollable, i.e. the content is long enough
    //that scrolling can occur
    if(el.offsetHeight < el.scrollHeight)
      evt._isScroller = true;
  });
}
overscroll(document.querySelector('.scroll'));
document.body.addEventListener('touchmove', function(evt) {
  //In this case, the default behavior is scrolling the body, which
  //would result in an overflow.  Since we don't want that, we preventDefault.
  if(!evt._isScroller) {
    evt.preventDefault();
  }
});

  </script>
{{/extend}}
