<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
  <p>{{jssdk.appId}}</p>
  <p>{{jssdk.nonceStr}}</p>
  <p>{{jssdk.signature}}</p>
  <p>{{jssdk.timestamp}}</p>
</body>

</html>
