{{#extend "stylesheets"}}
<style>
.nav>li>a{
  padding-top:5px;
  padding-bottom:5px;
}
.itemContainer{
  border:1px #eee solid;
  margin-left:5px;
  margin-top:5px;
}

.rowContainer{
  margin-left:0px;
  margin-right:0px;
  border-top:1px #f2f2f2 solid;
  margin-top:1px;
}

.left,.center,.right{
  padding-left:0px;
  padding-right:0px;
  color:gray;
  margin-top:10px;
  margin-bottom:10px;
  border-right:1px solid #f2f2f2;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.rowContainer img{
  width:20px;
  height:20px;
}

.rowContainer span{
  margin-left:2px;
  color:#bdbdbd;
}

.pic1{
  width:100%;
}


</style>

{{/extend}}

<ul class="nav nav-pills" style="display:flex;justify-content:center;margin-top:10px;">
  <li role="presentation" class="active" data-type="1"><a href="#">未开始</a></li>
  <li role="presentation" data-type="1"><a href="#">进行中</a></li>
  <li role="presentation" data-type="1"><a href="#">已结束</a></li>
</ul>

<div class="content" style="padding-right:5px;">
  {{#each items}}
    <div class="itemContainer" onClick="gotoItem('{{this._id}}')">
      <div>
        <img src="https://painting.shtx.com.cn/images/upload/{{this.images.[0]}}" class="pic1" />
      </div>
      <div class="row rowContainer">
        <div class="col-xs-4 left">
          <img id="imgLike" src="/images/BB_08.png" />
          <span>{{this.likes.length}}</span>
        </div>
        <div class="col-xs-4 center">
          <img src="/images/2_07.png" />
          <span>{{this.bids.length}}</span>
        </div>
        <div class="col-xs-4 right">
          <img src="/images/2_08.png" />
          <span>{{this.price}}</span>
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{#extend "scripts"}}
  <script>
    $(function() {
      $(".pic1").each(function() {
        $(this).load(function() {
          $(".content").waterfall({
            colMinWidth: 150,
            defaultContainerWidth: 500,
            autoresize: true
          });
        })
      })

      $(".nav li").on("click",function(){
        $(".active").removeClass("active");
        $(this).addClass("active");
        var type = $(this).data("type");

        $.get("/getMyGalleryByType/"+type,function(data){
          console.log(data);
        });

        return false;
      })
    })

    function gotoItem(id) {
      window.location.href = '/item/' + id;
    }

    wx.ready(function() {
      wx.onMenuShareTimeline({
        title: '{{items.[0].nick}}' + '的画廊',
        link: 'https://painting.shtx.com.cn/sharePage?openId=' + '{{this.items.[0].openId}}',
        imgUrl: 'https://painting.shtx.com.cn/images/upload/{{this.items.[0].images.[0]}}',
        success: function() {

        },
        cancel: function() {

        }
      });

      wx.onMenuShareAppMessage({
        title: '{{items.[0].nick}}' + '的画廊',
        link: 'https://painting.shtx.com.cn/sharePage?openId=' + '{{this.items.[0].openId}}',
        desc: "亲爱的小伙伴，快来看看吧！",
        imgUrl: 'https://painting.shtx.com.cn/images/upload/{{this.items.[0].images.[0]}}',
        success: function() {

        },
        cancel: function() {

        }
      })
    })
  </script>
{{/extend}}
