{{#extend "stylesheets"}}
<link rel='stylesheet' href='/intro.js/minified/introjs.min.css'/>
<style>
.nav>li>a{
  padding-top:5px;
  padding-bottom:5px;
}
.itemContainer{
  border:1px #eee solid;
  margin-left:5px;
  margin-top:5px;
}

.rowContainer{
  margin-left:0px;
  margin-right:0px;
  border-top:1px #f2f2f2 solid;
  margin-top:1px;
}

.left,.center,.right{
  padding-left:0px;
  padding-right:0px;
  color:gray;
  margin-top:10px;
  margin-bottom:10px;
  border-right:1px solid #f2f2f2;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.rowContainer img{
  width:20px;
  height:20px;
}

.rowContainer span{
  margin-left:2px;
  color:#bdbdbd;
}

.pic1{
  width:100%;
}

.menuContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.menu{
  border: 1px solid #3f91fd;
  padding: 5px 0px;
  width: calc(calc(100vw - 14px) / 3);
  text-align: center;
  color: #3f91fd;
}

.menu:first-child{
  border-right-width: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.menu:last-child{
  border-left-width: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menuContainer .active{
  background: #3f91fd;
  color: white;
}

.rotate{
  transform: rotate(-45deg);
  display: none;
}

</style>

{{/extend}}

<!-- <ul class="nav nav-pills" style="display:flex;justify-content:center;margin-top:10px;">
  <li role="presentation" data-type="1"><a href="#">未开始</a></li>
  <li role="presentation" class="active" data-type="2"><a href="#">进行中</a></li>
  <li role="presentation" data-type="3"><a href="#">已结束</a></li>
</ul> -->
<div style="position:relative;">
  <div style="position:absolute;right:5px;" id="stepDiv">
  </div>

<div class="menuContainer">
  <div class="menu" data-type="1">
    未开始
  </div>
  <div class="menu active" data-type="2">
    进行中
  </div>
  <div class="menu" data-type="3">
    已结束
  </div>
</div>

<div class="content" style="padding-right:5px;">
  {{#each items}}
    <div class="itemContainer" onClick="gotoItem('{{this._id}}')">
      <div style="position:relative;">
        <img src="https://painting.shtx.com.cn/images/upload/{{this.images.[0]}}" class="pic1" />
        <!-- {{#if this.bids.length }}
          <div style="width:172px;height:100px;">
            <img src="/images/成交.png" style="width:100%;"/>
          </div>
          {{else}}
          <div style="width:172px;height:100px;">
            <img src="/images/流标.png" style="width:100%;"/>
          </div>
        {{/if}} -->
      </div>
      <div class="row rowContainer">
        <div class="col-xs-4 left">
          <img class="imgLike" src="/images/BB_08.png" />
          <span>{{this.likes.length}}</span>
        </div>
        <div class="col-xs-4 center">
          <img src="/images/2_07.png" />
          <span>{{this.bids.length}}</span>
        </div>
        <div class="col-xs-4 right">
          <img src="/images/2_08.png" />
          <span>{{this.price}}</span>
        </div>
      </div>
    </div>
  {{/each}}
</div>
</div>
{{#extend "scripts"}}
  <script src="/intro.js/minified/intro.min.js"></script>
  <script>
  var openId = '{{openId}}';
  var isAlert = false;
  $(function() {
    var type = localStorage.getItem("firstMyGallery");
    if(!type){
      localStorage.setItem("firstMyGallery", "1");
      isAlert = true;
    }

    // if(isAlert){
      var intro = new introJs();
      intro.setOptions({
        steps:[{
          element:'#stepDiv',
          intro:'点击分享到好友或朋友圈，让更多的小伙伴看到您的作品吧！'
        }],
        doneLabel:"取消",
        showStepNumbers:false,
        showBullets:false,
        showButtons:false
      });
      intro.start();
      $(".introjs-helperLayer").hide();
      $(".introjs-arrow").css("left","195px").css("border","8px solid #d0ecfa");
      $(".introjs-arrow.top").css("top","-16px").css("border-top-color","transparent").css("border-right-color","transparent").css("border-left-color","transparent").css("border-bottom-color","#doecfa");
      $(".introjs-tooltip").css("top","15px").css("margin-right","5px").css("background-color", "#d0ecfa");
      $(".introjs-tooltipReferenceLayer").css("top","0px");
      $(".introjs-tooltiptext").css("font-size","18px");
    // }
      $(".pic1").each(function() {
        $(this).load(function() {
          $(".content").waterfall({
            colMinWidth: 150,
            defaultContainerWidth: 500,
            autoresize: true
          });
        })
      })

      $(".menu").on("click",function(){
        $(".active").removeClass("active");
        $(this).addClass("active");
        var type = $(this).data("type");

        $.get("/myGallery/getMyGalleryByType/"+type+"?openId="+openId,function(data){
          console.log(data);
          $(".content").empty();
          var width = $(document.body).width()/4;
          for (var i = 0; i < data.length; i++) {
            var itemContainer = $("<div onClick=\"gotoItem('"+data[i]._id+"')\"></div>");
            itemContainer.addClass("itemContainer");

            var pic1Container = $("<div></div>");
            pic1Container.css("position","relative");
            var pic1 = $("<img />");
            pic1.addClass("pic1");
            pic1.attr("src","https://painting.shtx.com.cn/images/upload/"+data[i].images[0]);

            pic1Container.append(pic1);
            if(type == 3){
              //已结束的打上水印

                var dealContainer = $("<div>");
                dealContainer.css({width:width+'px'});
                dealContainer.css("position","absolute");
                dealContainer.css("top","50%");
                dealContainer.css("left","50%");
                var height = 100 * width / 172.0;
                dealContainer.css("marginTop",parseFloat(0-height/2)+"px");
                dealContainer.css("marginLeft",parseFloat(0-width/2)+"px");

                var deal = $("<img>");
                deal.css({width:width+'px'});
                deal.addClass("rotate");
                if(data[i].bids.length > 0){
                  deal.attr("src","/images/成交.png");
                }
                else{
                  deal.attr("src","/images/流标.png");
                }
                dealContainer.append(deal);
                pic1Container.append(dealContainer);

            }


            itemContainer.append(pic1Container);

            var row = $("<div></div>");
            row.addClass("row rowContainer");
            itemContainer.append(row);

            var left = $("<div></div>");
            left.addClass("col-xs-4 left");
            row.append(left);
            var like = $("<img class=\"imgLike\" src=\"/images/BB_08.png\" />");
            var likeSpan = $("<span>"+data[i].likes.length+"</span>");
            left.append(like);
            left.append(likeSpan);

            var center = $("<div></div>");
            center.addClass("col-xs-4 center");
            row.append(center);
            var bid = $("<img src=\"/images/2_07.png\" />");
            var bidSpan = $("<span>"+data[i].bids.length+"</span>");
            center.append(bid);
            center.append(bidSpan);

            var right = $("<div></div>");
            right.addClass("col-xs-4 right");
            row.append(right);
            var price = $("<img src=\"/images/2_08.png\" />");
            var priceSpan = $("<span>"+data[i].price+"</span>");
            right.append(price);
            right.append(priceSpan);

            $(".content").append(itemContainer);


            $(".pic1").each(function() {
              $(this).load(function() {
                $(".content").waterfall({
                  colMinWidth: 150,
                  defaultContainerWidth: 500,
                  autoresize: true
                });
                $(".rotate").show();
              })
            })

          }

        });

        return false;
      })
    })

    function gotoItem(id) {
      window.location.href = '/item/' + id;
    }

    wx.ready(function() {
      wx.onMenuShareTimeline({
        title: '{{items.[0].nick}}' + '开画展啦，亲爱的小伙伴，快来看看吧！',
        link: 'https://painting.shtx.com.cn/sharePage?option=gallery&openId=' + '{{this.items.[0].openId}}',
        imgUrl: 'https://painting.shtx.com.cn/images/upload/{{this.items.[0].images.[0]}}',
        success: function() {

        },
        cancel: function() {

        }
      });

      wx.onMenuShareAppMessage({
        title: '{{items.[0].nick}}' + '开画展啦！',
        link: 'https://painting.shtx.com.cn/sharePage?option=gallery&openId=' + '{{this.items.[0].openId}}',
        desc: "亲爱的小伙伴，快来看看吧！",
        imgUrl: 'https://painting.shtx.com.cn/images/upload/{{this.items.[0].images.[0]}}',
        success: function() {

        },
        cancel: function() {

        }
      })
    })
  </script>
{{/extend}}
