{{#extend "stylesheets"}}
  <link rel='stylesheet' href="/swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="/stylesheets/sell.css" />
  <link rel="stylesheet" href="/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css" />

{{/extend}}
{{#if isEdit}}
<div class="swiper-container" style="width:100%;height:50vw;">
  <div class="swiper-wrapper">
    {{#each item.images}}
      <div class="swiper-slide" style="background:url(/images/upload/{{this}}) no-repeat;background-position:center center;background-size:100% auto;">
      <!-- <div class="swiper-slide"> -->
        <!-- <img src="/images/upload/{{this}}" alt="" style="width:100%;z-index:99999;opacity:0;"/> -->
      </div>
    {{/each}}
  </div>
  <div class="swiper-pagination"></div>
</div>
{{/if}}
{{#unless isEdit}}
<div class="swiper-container" style="position:relative">
  <div class="swiper-wrapper">
    <div id="defaultImgDiv" style="width:100%;height:100%;">
      <img src="/images/addImg.png" style="width:100%;" />
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination" id="pDiv"></div>
  <div class="removeBtn">
    <button id="btnRemoveImg" type="button" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
  <div class="addBtn">
    <button id="btnAddImg" type="button" class="btn btn-info btn-circle btn-lg"><i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>
</div>
{{/unless}}
<div class="split"></div>
<div class="my-box">
  <div class="box-name">
    作者
  </div>
  <div class="box-split"></div>
  <div class="box-element">
    <input type="text" value="{{#if isEdit}}{{item.author}}{{/if}}" placeholder="请输入作者名称" id="txtAuthorName" />
  </div>
</div>

<div class="my-box">
  <div class="box-name">
    作品
  </div>
  <div class="box-split"></div>
  <div class="box-element">
    <input type="text" value="{{#if isEdit}}{{item.name}}{{/if}}" placeholder="请输入作品名称" id="txtImgName" />
  </div>
</div>

<div class="my-box select">
  <div class="box-name">
    画种
  </div>
  <div class="box-split"></div>
  <div class="box-element">
    <div class="my-select-container">
      <div class="my-select-name" id="typeTitle">
        {{#if isEdit}}{{item.type}}{{/if}}{{#unless isEdit}}请选择{{/unless}}
      </div>
      <div class="my-select-arrow">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </div>
    </div>
  </div>
  <ul class="box-items type">
    {{#each type}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>

<div class="my-box select">
  <div class="box-name">
    题材
  </div>
  <div class="box-split"></div>
  <div class="box-element">
    <div class="my-select-container">
      <div class="my-select-name" id="catalogTitle">
        {{#if isEdit}}{{item.catalog}}{{/if}}{{#unless isEdit}}请选择{{/unless}}
      </div>
      <div class="my-select-arrow">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </div>
    </div>
  </div>
  <ul class="box-items catalog">
    {{#each catalog}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>

<div style="display:flex;width:90%;height:40px;margin:10px auto 0;">
  <div class="small-box">
    <div class="box-name" style="width:29%;">
      尺寸
    </div>
    <div class="box-split" style="width:calc((29%-2em)/4);"></div>
    <div class="box-element" style="width:60%;">
      <input type="number" value="{{#if isEdit}}{{item.dimension.width}}{{/if}}" placeholder="宽 ( 单位 : cm )" id="txtImgWidth"/>
    </div>
  </div>
  <div style="height:40px;line-height:40px;width:5%;text-align:center;color:#a5a5a5;">
    X
  </div>
  <div class="small-box" style="width:40%;">
    <input type="number" value="{{#if isEdit}}{{item.dimension.height}}{{/if}}" placeholder="高 ( 单位 : cm )" style="width:100%;outline:none;border:0px;margin-left:calc((38%-2em)/4);" id="txtImgHeight"/>
  </div>
</div>
<div style="display:flex;width:90%;height:40px;margin:10px auto 0;">
  <div class="small-box">
    <div class="box-name" style="width:29%;font-size:smaller">
      拍卖时间
    </div>
    <div class="box-split" style="width:calc((29%-2em)/4);"></div>
    <div class="box-element" style="width:60%;">
      <input value="{{#if isEdit}}{{item.valid.from}}{{/if}}" id="datetimepicker1" type="text" placeholder="起始时间" readonly="readonly" style="font-size:smaller;"/>
    </div>
  </div>
  <div style="height:40px;line-height:40px;width:5%;text-align:center;color:#a5a5a5;">
    -
  </div>
  <div class="small-box" style="width:40%;">
    <input value="{{#if isEdit}}{{item.valid.to}}{{/if}}" id="datetimepicker2" type="text" placeholder="结束时间" readonly="readonly" style="font-size:smaller;outline:none;border:0px;margin-left:calc((38%-2em)/4);width:100%;"/>
  </div>
</div>
<div class="my-box">
  <div class="box-name" style="font-size:smaller">
    起拍价格
  </div>
  <div class="box-split"></div>
  <div class="box-element">
    {{#if isEdit}}
    <input type="number" value="{{item.price}}" placeholder="请输入底价 ( 元 )" id="txtImgPrice" />
    {{/if}}
    {{#unless isEdit}}
    <input type="number" value="" placeholder="请输入底价 ( 元 )" id="txtImgPrice" />
    {{/unless}}
  </div>
</div>
<div class="my-box" style="height:80px;">
  <div class="box-name">
    备注
  </div>
  <div class="box-split" style="height:40px;"></div>
  <div class="box-element">
    <textarea placeholder="说点什么吧"  style="width:100%;outline:none;border:0px;" id="txtDesc">{{#if isEdit}}{{item.comment}}{{/if}}</textarea>
  </div>
</div>

<div style="width:90%;margin:10px auto;">
  <button id="btnSave" type="button" class="btn btn-primary btn-block ladda-button" data-style="expand-left" style="outline:none;">
    <span class="ladda-label">提 交</span>
  </button>
</div>

<input type="hidden" id="hideOpenId" value="{{openId}}">

{{#extend "scripts"}}
  <script type="text/javascript" src="/swiper/dist/js/swiper.min.js"></script>
  <script type="text/javascript" src="/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="/bootstrap-datetime-picker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
  <script src="/moment/moment.js"></script>
  <script type="text/javascript" src="/javascripts/sell/sell.js"></script>
  <script>
  var isEdit = true;
  var itemId = 0;
    $(function(){
      var start = moment().add(1, 'h').format('YYYY-MM-DD HH:00');
      var end = moment().add(1, 'h').add(2,'d').format('YYYY-MM-DD HH:00');
      $("#datetimepicker1,#datetimepicker2").datetimepicker({
        format: 'yyyy-mm-dd hh:00',
        autoclose: true,
        minView: 1,
        todayHighlight: true,
        language: 'zh-CN'
      });
      {{#if isEdit}}
        itemId = '{{item._id}}';
      {{/if}}
      {{#unless isEdit}}
      isEdit = false;
      $("#datetimepicker1").val(start);
      $("#datetimepicker2").val(end);
      {{/unless}}
      $('#datetimepicker1,#datetimepicker2').datetimepicker('update');

        $(".select").on("click",function(){
          var items = $(this).find(".box-items");
          if(items.hasClass("type"))
          {
            if(items.is(":hidden")){
              $(".box-items").hide();
              items.show();
            }
            else{
              items.hide();
            }
          }
          else if(items.hasClass("catalog")){
            if(items.is(":hidden")){
              $(".box-items").hide();
              items.show();
            }
            else{
              items.hide();
            }
          }

          return false;
        });

        $('.box-items').hover(
          function(){
              $('body').css('overflow', 'hidden');
          },
          function(){
              $('body').css('overflow', 'auto');
        })

        $(".box-items li").on("click",function(){
          var v = $(this).text();
          $(this).parent().parent().find(".my-select-name").text(v).css("color","black");
        });

        $("body").on("click",function(){
          $(".box-items").hide();
        });
    })
  </script>
{{/extend}}
