{{#extend "stylesheets"}}
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel='stylesheet' href="/stylesheets/index.css" />
<link rel="stylesheet" href="/stylesheets/todayMore.css" />
{{/extend}}
<div id="wrapper">
  <div id="scroller">
    <div id="pullDown">
			<span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新数据...</span>
		</div>
    <ul id="thelist" class="list-group" style="margin-bottom:0px;">
    </ul>
    <div id="pullUp">
			<span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多...</span>
		</div>
  </div>
</div>
<div id="footer"></div>
{{#extend "scripts"}}
<script src="/javascripts/jscroll/iscroll.js"></script>
  <script>
    var startTime;
    var endTime;
    var typeStr;
    var type='';
    var catalog='';
    var key='';
    var openId = '{{openId}}';
    {{#if type}}
    type = '{{type}}';
    {{/if}}
    {{#if catalog}}
    catalog = '{{catalog}}';
    {{/if}}
    {{#if key}}
    key = '{{key}}';
    {{/if}}

    $(function(){
      typeStr = "{{typeStr}}";
      getDatas();
      $("body").on("click",".pay",function(){
        var itemId = $(this).data("itemid");
        location.replace("/wxpay/pay?itemId="+itemId);
      });
    })

    function getMoreDatas(){
    }

    function getDatas(){
      if(typeStr == "more"){
        $.get("/item/getTodayItems/0/0", function(data){
            var res = data.data;
            if(res.length>0){
              startTime = res[0].create_at.toString();
              endTime = res[res.length - 1].create_at.toString();
            }
            appendData("get", res);
        })
      }
      if(typeStr == "myBids"){
        $.get("/item/getMyBids/0/0?openId="+openId, function(data){
            var res = data;
            if(res.length>0){
              startTime = res[0].create_at.toString();
              endTime = res[res.length - 1].create_at.toString();
            }
            appendData("get", res);
        })
      }
      if(typeStr == "search"){
       $.get("/item/getItemBySearch/"+key+"/"+type+"/"+catalog+"/0/0",function(data){
         var res = data.data;
         if(res.length>0){
           startTime = res[0].create_at.toString();
           endTime = res[res.length - 1].create_at.toString();
         }
         appendData("get", res);
       });
     }
     if(typeStr == "myOrders"){
      $.get("/item/getMyOrders/0/0?openId="+openId,function(data){
        var res = data.data;
        if(res.length>0){
          startTime = res[0].create_at.toString();
          endTime = res[res.length - 1].create_at.toString();
        }
        appendData("get", res);
      });
    }
  }

    function gotoItem(id){
      window.location.href = '/item/'+id;
    }

    function heartClick(id){
      var ele = $("#" + id);
      var pEle = ele.parent();
      pEle.removeAttr("onClick");
      var firstEle = pEle.children("img[id='imgLike']");
      if(firstEle){
        firstEle.attr("src", "/images/BB_08.png");
      }
      var like = ele.text();
      var res = parseInt(like) + 1;
      ele.text(res);
      $.get('/item/like/' + id+"?openId="+openId, function(data) {

      });
    }

    function appendData(op,datas){
      if(op == "get" || op == "pullup"){
        for (var i = 0; i < datas.length; i++) {
          var str ="<li class=\"list-group-item item\" onClick=\"gotoItem('" + datas[i]._id + "')\" ><div class=\"row\" style=\"margin-left:-15px;margin-right:0px;\"> <div class=\"avatarStyle\"><img src='";
          str += datas[i].avatar;
          str += "' style=\"width:50px;border-radius:50px;\"/></div><div class=\"nickDiv\"><div class=\"row\"><div class=\"col-xs-7\" style=\"padding-right:0px;\"><div class=\"row\" style=\"margin-left:0px;margin-right:0px;margin-top:5px;\"><span style=\"color:#2ad0cc\">" + datas[i].nick + "</span></div><div class=\"row\" style=\"margin-top:5px;margin-left:0px;margin-right:0px;\"><span style=\"color:#919191\">" + datas[i].create_at + "</span></div></div>";
          if(typeStr == "myBids"){
            str += "<div class=\"col-xs-5\" style=\"padding-left:0px;padding-right:0px;\"><div class=\"row\" style=\"background:url('/images/标签_07.png') no-repeat;height:25px;line-height:25px;width:110px;background-size:110px 25px;margin-left:0px;margin-right:0px;display:flex;flex-direction:column;align-items:center;float:right;padding-top:2px;\"><span style=\"font-size:8px;color:#fff;\">最高价:￥" + datas[i].maxPrice + "</span></div><div class=\"row\" style=\"background:url('/images/标签_48.png') no-repeat;height:25px;line-height:25px;width:110px;background-size:110px 25px;margin-left:0px;margin-right:0px;display:flex;flex-direction:column;align-items:center;float:right;padding-top:2px;\"><span style=\"font-size:8px;color:#fff;\">出价:￥" + datas[i].myMaxPrice + "</span></div></div></div></div></div><div class=\"row\" style=\"margin-left:0px;margin-right:0px;margin-top:10px;\"><div class=\"row\">";
          }
          else if(typeStr == "myOrders"){
            str += "<div class=\"col-xs-5\" style=\"padding-left:0px;padding-right:0px;\"><div class=\"row\" style=\"background:url('/images/标签_07.png') no-repeat;height:25px;line-height:25px;width:110px;background-size:110px 25px;margin-left:0px;margin-right:0px;display:flex;flex-direction:column;align-items:center;float:right;padding-top:2px;\"><span style=\"font-size:8px;color:#fff;\">底价:￥" + datas[i].price + "</span></div><div class=\"row\" style=\"background:url('/images/标签_48.png') no-repeat;height:25px;line-height:25px;width:110px;background-size:110px 25px;margin-left:0px;margin-right:0px;display:flex;flex-direction:column;align-items:center;float:right;padding-top:2px;\"><span style=\"font-size:8px;color:#fff;\">我:￥" + datas[i].bid.price + "</span></div></div></div></div></div><div class=\"row\" style=\"margin-left:0px;margin-right:0px;margin-top:10px;\"><div class=\"row\">";
          }
          else{
            str += "<div class=\"col-xs-5\" style=\"padding-left:0px;padding-right:0px;\"><div class=\"row\" style=\"background:url('/images/label_01.jpg') no-repeat;height:55px;width:110px;background-size:110px 55px;margin-left:0px;margin-right:0px;display:flex;flex-direction:column;align-items:center;justify-content:center;color:#fff;float:right;\"><span style=\"margin-left:30px;\">￥" + datas[i].price + "</span></div></div></div></div></div><div class=\"row\" style=\"margin-left:0px;margin-right:0px;margin-top:10px;\"><div class=\"row\">";
          }
              for (var j = 0; j < datas[i].images.length; j++) {
                  str += " <div class=\"imgStyle\" style=\"background:url(https://painting.shtx.com.cn/images/upload/" + datas[i].images[j] + ");\"></div>"
              }
              if(typeStr == "myOrders"){
                str += "</div><div class=\"row\" style=\"margin-bottom:10px;font-size:14px;margin-top:10px;\"><div class=\"col-xs-12\" style=\"padding-right: 0px;padding-left: 3px;\">《" + datas[i].name + "》</div></div></div></li><div class=\"row option\"><div class=\"col-xs-4 like\"";
                if(datas[i].canLike){
                  str += " onclick=\"heartClick('" + datas[i]._id + "')\" ";
                }
                str += ">";
                if(datas[i].canLike){
                  str += "<img id=\"imgLike\" src=\"/images/aa_08.png\" alt=\"赞\" class=\"img-size\"/>";
                }else{
                  str += "<img id=\"imgLike\" src=\"/images/BB_08.png\" alt=\"赞\" class=\"img-size\"/>";
                }

                str += "<span style=\"margin-left:10px;\" id=\"" + datas[i]._id + "\">" + datas[i].likes.length + "</span></div><div class=\"col-xs-4 bid\" style=\"border-right: 1px solid #f2f2f2;\"><img src=\"/images/aa_07.png\" alt=\"出价次数\" class=\"img-size\"/><span style=\"margin-left:10px;\">" + datas[i].bids.length + "</span></div>";
                if(datas[i].order && datas[i].order.status == 1){
                  str+="<div class=\"col-xs-4 bid\" data-itemid=\""+datas[i]._id+"\" style=\"border-right: 1px solid #f2f2f2;\"><img src=\"/images/aa_07.png\" class=\"img-size\"/><span style=\"margin-left:10px;\">已付款</span></div></div><div class=\"splitItem\"></div>"
                }
                else if(!datas[i].order || datas[i].order.status == 0){
                  str+="<div class=\"col-xs-4 bid pay\" data-itemid=\""+datas[i]._id+"\" style=\"border-right: 1px solid #f2f2f2;\"><img src=\"/images/aa_07.png\" class=\"img-size\"/><span style=\"margin-left:10px;\">待付款</span></div></div><div class=\"splitItem\"></div>"
                }
              }
              else{
                str += "</div><div class=\"row\" style=\"margin-bottom:10px;font-size:14px;margin-top:10px;\"><div class=\"col-xs-12\" style=\"padding-right: 0px;padding-left: 3px;\">《" + datas[i].name + "》</div></div></div></li><div class=\"row option\"><div class=\"col-xs-6 like\"";
                if(datas[i].canLike){
                  str += " onclick=\"heartClick('" + datas[i]._id + "')\" ";
                }
                str += ">";
                if(datas[i].canLike){
                  str += "<img id=\"imgLike\" src=\"/images/aa_08.png\" alt=\"赞\" class=\"img-size\"/>";
                }else{
                  str += "<img id=\"imgLike\" src=\"/images/BB_08.png\" alt=\"赞\" class=\"img-size\"/>";
                }
                str += "<span style=\"margin-left:10px;\" id=\"" + datas[i]._id + "\">" + datas[i].likes.length + "</span></div><div class=\"col-xs-6 bid\"><img src=\"/images/aa_07.png\" alt=\"出价次数\" class=\"img-size\"/><span style=\"margin-left:10px;\">" + datas[i].bids.length + "</span></div></div><div class=\"splitItem\"></div>";
              }
              $(".list-group").append(str);
            }
            }else if(op == "pulldown"){
              for (var i = 0; i < datas.length; i++) {
                var str ="<li class=\"list-group-item item\" onClick=\"gotoItem('" + datas[i]._id + "')\" ><div class=\"row\" style=\"margin-left:-15px;margin-right:0px;\"> <div class=\"avatarStyle\"><img src='";
                str += datas[i].avatar;
                str += "' style=\"width:50px;border-radius:50px;\"/></div><div class=\"nickDiv\"><div class=\"row\"><div class=\"col-xs-7\" style=\"padding-right:0px;\"><div class=\"row\" style=\"margin-left:0px;margin-right:0px;margin-top:5px;\"><span style=\"color:#2ad0cc\">" + datas[i].nick + "</span></div><div class=\"row\" style=\"margin-top:5px;margin-left:0px;margin-right:0px;\"><span style=\"color:#919191\">" + datas[i].create_at + "</span></div></div>";
                if(typeStr == "myBids"){
                  str += "<div class=\"col-xs-5\" style=\"padding-left:0px;padding-right:0px;\"><div class=\"row\" style=\"background:url('/images/标签_07.png') no-repeat;height:25px;line-height:25px;width:110px;background-size:110px 25px;margin-left:0px;margin-right:0px;display:flex;flex-direction:column;align-items:center;float:right;padding-top:2px;\"><span style=\"font-size:8px;color:#fff;\">底价:￥" + datas[i].price + "</span></div><div class=\"row\" style=\"background:url('/images/标签_48.png') no-repeat;height:25px;line-height:25px;width:110px;background-size:110px 25px;margin-left:0px;margin-right:0px;display:flex;flex-direction:column;align-items:center;float:right;padding-top:2px;\"><span style=\"font-size:8px;color:#fff;\">出价:￥" + datas[i].price + "</span></div></div></div></div></div><div class=\"row\" style=\"margin-left:0px;margin-right:0px;margin-top:10px;\"><div class=\"row\">";
                }
                else if(typeStr == "myOrders"){
                  str += "<div class=\"col-xs-5\" style=\"padding-left:0px;padding-right:0px;\"><div class=\"row\" style=\"background:url('/images/标签_07.png') no-repeat;height:25px;line-height:25px;width:110px;background-size:110px 25px;margin-left:0px;margin-right:0px;display:flex;flex-direction:column;align-items:center;float:right;padding-top:2px;\"><span style=\"font-size:8px;color:#fff;\">底价:￥" + datas[i].price + "</span></div><div class=\"row\" style=\"background:url('/images/标签_48.png') no-repeat;height:25px;line-height:25px;width:110px;background-size:110px 25px;margin-left:0px;margin-right:0px;display:flex;flex-direction:column;align-items:center;float:right;padding-top:2px;\"><span style=\"font-size:8px;color:#fff;\">我:￥" + datas[i].bid.price + "</span></div></div></div></div></div><div class=\"row\" style=\"margin-left:0px;margin-right:0px;margin-top:10px;\"><div class=\"row\">";
                }
                else{
                  str += "<div class=\"col-xs-5\" style=\"padding-left:0px;padding-right:0px;\"><div class=\"row\" style=\"background:url('/images/label_01.jpg') no-repeat;height:55px;width:110px;background-size:110px 55px;margin-left:0px;margin-right:0px;display:flex;flex-direction:column;align-items:center;justify-content:center;color:#fff;float:right;\"><span style=\"margin-left:30px;\">￥" + datas[i].price + "</span></div></div></div></div></div><div class=\"row\" style=\"margin-left:0px;margin-right:0px;margin-top:10px;\"><div class=\"row\">";
                }
                    for (var j = 0; j < datas[i].images.length; j++) {
                        str += " <div class=\"imgStyle\" style=\"background:url(https://painting.shtx.com.cn/images/upload/" + datas[i].images[j] + ");\"></div>"
                    }

                    if(typeStr == "myOrders"){
                      str += "</div><div class=\"row\" style=\"margin-bottom:10px;font-size:14px;margin-top:10px;\"><div class=\"col-xs-12\" style=\"padding-right: 0px;padding-left: 3px;\">《" + datas[i].name + "》</div></div></div></li><div class=\"row option\"><div class=\"col-xs-4 like\"";
                      if(datas[i].canLike){
                        str += " onclick=\"heartClick('" + datas[i]._id + "')\" ";
                      }
                      str += ">";
                      if(datas[i].canLike){
                        str += "<img id=\"imgLike\" src=\"/images/aa_08.png\" alt=\"赞\" class=\"img-size\"/>";
                      }else{
                        str += "<img id=\"imgLike\" src=\"/images/BB_08.png\" alt=\"赞\" class=\"img-size\"/>";
                      }

                      str += "<span style=\"margin-left:10px;\" id=\"" + datas[i]._id + "\">" + datas[i].likes.length + "</span></div><div class=\"col-xs-4 bid\" style=\"border-right: 1px solid #f2f2f2;\"><img src=\"/images/aa_07.png\" alt=\"出价次数\" class=\"img-size\"/><span style=\"margin-left:10px;\">" + datas[i].bids.length + "</span></div>";
                      if(datas[i].order && datas[i].order.status == 1){
                        str+="<div class=\"col-xs-4 bid\" data-itemid=\""+datas[i]._id+"\" style=\"border-right: 1px solid #f2f2f2;\"><img src=\"/images/aa_07.png\" class=\"img-size\"/><span style=\"margin-left:10px;\">已付款</span></div></div><div class=\"splitItem\"></div>"
                      }
                      else if(!datas[i].order || datas[i].order.status == 0){
                        str+="<div class=\"col-xs-4 bid pay\" data-itemid=\""+datas[i]._id+"\" style=\"border-right: 1px solid #f2f2f2;\"><img src=\"/images/aa_07.png\" class=\"img-size\"/><span style=\"margin-left:10px;\">待付款</span></div></div><div class=\"splitItem\"></div>"
                      }
                    }
                    else{
                      str += "</div><div class=\"row\" style=\"margin-bottom:10px;font-size:14px;margin-top:10px;\"><div class=\"col-xs-12\" style=\"padding-right: 0px;padding-left: 3px;\">《" + datas[i].name + "》</div></div></div></li><div class=\"row option\"><div class=\"col-xs-6 like\"";
                      if(datas[i].canLike){
                        str += " onclick=\"heartClick('" + datas[i]._id + "')\" ";
                      }
                      str += ">";
                      if(datas[i].canLike){
                        str += "<img id=\"imgLike\" src=\"/images/aa_08.png\" alt=\"赞\" class=\"img-size\"/>";
                      }else{
                        str += "<img id=\"imgLike\" src=\"/images/BB_08.png\" alt=\"赞\" class=\"img-size\"/>";
                      }
                      str += "<span style=\"margin-left:10px;\" id=\"" + datas[i]._id + "\">" + datas[i].likes.length + "</span></div><div class=\"col-xs-6 bid\"><img src=\"/images/aa_07.png\" alt=\"出价次数\" class=\"img-size\"/><span style=\"margin-left:10px;\">" + datas[i].bids.length + "</span></div></div><div class=\"splitItem\"></div>";
                    }
                    $(".list-group").prepend(str);
                }
      }
    }

    var myScroll,
	pullDownEl, pullDownOffset,
	pullUpEl, pullUpOffset,
	generatedCount = 0;
function pullDownAction () {
  var url="";
  if(typeStr == "more"){
    url="/item/getTodayItems/down/" + startTime;
  }
  else if(typeStr == "search"){
    url="/item/getItemBySearch/"+key+"/"+type+"/"+catalog+"/down/" + startTime;
  }
  else if(typeStr == "myOrders"){
    url="/item/getMyOrders/down/" + startTime+"?openId="+openId;
  }else if(typeStr == "myBids"){
    url="/item/getMyBids/down/" + startTime+"?openId="+openId;
  }

	setTimeout(function () {	// <-- Simulate network congestion, remove setTimeout from production!

    $.get(url, function(data){
        var res = data.data;
        if(res.length>0){
          startTime = res[0].create_at.toString();
          // endTime = res[res.length - 1].create_at;
        }
        appendData("pulldown", res);
        myScroll.refresh();
    })

	}, 1000);	// <-- Simulate network congestion, remove setTimeout from production!
}
function pullUpAction () {
  var url="";
  if(typeStr == "more"){
    url="/item/getTodayItems/up/" + endTime;
  }
  else if(typeStr == "search"){
    url="/item/getItemBySearch/"+key+"/"+type+"/"+catalog+"/up/" + endTime;
  }
  else if(typeStr == "myOrders"){
    url="/item/getMyOrders/up/" + endTime+"?openId="+openId;
  }else if(typeStr == "myBids"){
    url="/item/getMyBids/up/" + endTime+"?openId="+openId;
  }
	setTimeout(function () {	// <-- Simulate network congestion, remove setTimeout from production!
    $.get(url, function(data){
        var res = data.data;
        if(res.length>0){
          // startTime = res[0].create_at;
          endTime = res[res.length - 1].create_at.toString();
        }
        appendData("get", res);
        myScroll.refresh();
    })
	}, 1000);	// <-- Simulate network congestion, remove setTimeout from production!
}
function loaded() {
	pullDownEl = document.getElementById('pullDown');
	pullDownOffset = pullDownEl.offsetHeight;
	pullUpEl = document.getElementById('pullUp');
	pullUpOffset = pullUpEl.offsetHeight;

	myScroll = new iScroll('wrapper', {
		useTransition: true,
		topOffset: pullDownOffset,
		onRefresh: function () {
			if (pullDownEl.className.match('loading')) {
				pullDownEl.className = '';
				pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
			} else if (pullUpEl.className.match('loading')) {
				pullUpEl.className = '';
				pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
			}
		},
		onScrollMove: function () {
			if (this.y > 5 && !pullDownEl.className.match('flip')) {
				pullDownEl.className = 'flip';
				pullDownEl.querySelector('.pullDownLabel').innerHTML = '释放刷新数据...';
				this.minScrollY = 0;
			} else if (this.y < 5 && pullDownEl.className.match('flip')) {
				pullDownEl.className = '';
				pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
				this.minScrollY = -pullDownOffset;
			} else if (this.y < (this.maxScrollY - 5) && !pullUpEl.className.match('flip')) {
				pullUpEl.className = 'flip';
				pullUpEl.querySelector('.pullUpLabel').innerHTML = '释放加载数据...';
				this.maxScrollY = this.maxScrollY;
			} else if (this.y > (this.maxScrollY + 5) && pullUpEl.className.match('flip')) {
				pullUpEl.className = '';
				pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
				this.maxScrollY = pullUpOffset;
			}
		},
		onScrollEnd: function () {
			if (pullDownEl.className.match('flip')) {
				pullDownEl.className = 'loading';
				pullDownEl.querySelector('.pullDownLabel').innerHTML = 'Loading...';
				pullDownAction();	// Execute custom function (ajax call?)
			} else if (pullUpEl.className.match('flip')) {
				pullUpEl.className = 'loading';
				pullUpEl.querySelector('.pullUpLabel').innerHTML = 'Loading...';
				pullUpAction();	// Execute custom function (ajax call?)
			}
		}
	});

	setTimeout(function () { document.getElementById('wrapper').style.left = '0'; }, 800);
}
document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
document.addEventListener('DOMContentLoaded', setTimeout(function () { loaded(); }, 200), false);
  </script>
{{/extend}}
